{
  "extends": [
    "@react-native-community",
    "eslint-config-prettier"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react-native/no-inline-styles": "off",
    "react-hooks/exhaustive-deps": "off",
    "semi": [
      "error",
      "never"
    ],
    "prettier/prettier": [
      "error",
      {
        "semi": false
      }
    ]
  }
}